<%= render partial: "works/new" %>
<div style="margin-left:50px"><h4><%= sortable "created_at", "view dsc/asc" %></h4></div><br>
<% @works.in_groups_of(3).each do |group| %>
<div class="row">
    <div class="three columns">
      <% group.each do |work| %>
        <div class="work">
          <%= work.title if work %><br>
          <%= link_to image_tag(work.image), work if work %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<center><%= paginate @works %></center>
