<% if admin_signed_in? %>
<%= link_to "new work of art", works_new_path %>
<% else %>
<h2>works</h2>
<div class="workDiv">
<% @works.each do |work| %>
  <div><%= work.title if work %></div>
  <div><%= link_to image_tag(work.image), work if work %></div>
  <div><%= work.created_at if work %></div>
<% end %>
<div><center><%= paginate @works %></center></div>
