<div class= "large-9 columns" id="aboutcontainer" style="float:left;">
  <p>part of the b@b family</p>
  <p>email me @ <%= mail_to "matthew@fatcatty.com" %> to talk</p>
  <p><%= link_to 'play me', 'https://www.chess.com/member/denago' %> on chess.com, 48 or 72 hours please</p>
  <p>send bitcoins: 16pd6vALjaDnnN8eA1orVSi9s1SfyDteEz</p>
  <p>tip me <span style="color:orange;">BAT</span> using your BRAVE browser</p>
  <p><%= link_to image_tag("rss.png"), feeds_path %><%= link_to(' subscribe to the rss feed so that you never miss a post', feeds_path) %></p>
  <p>please create dont be gutta mane</p>
  <p><%= link_to 'check out transplant vintage', 'https://www.transplantvintage.com' %></p>
  <p><%= link_to 'check out the wyss institute', 'https://wyss.harvard.edu/' %></p>
  <p><%= link_to 'check out seed technology', 'https://www.getseed.io' %></p>
  <p><%= link_to 'check out easyeaze', 'https://www.easyeaze.com' %></p>
  <p><%= link_to 'check out sideyeti', 'https://sideyeti.com' %></p>
  <p><%= link_to 'oppose laveta terrace condo construction', 'https://www.opposelavetacondos.com' %></p>
</div>
