<div class="large-3 columns" id="sscbody" style="float:left; padding-left:66px;">

<center><%= image_tag("sunblock.png") %></center>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:0px auto;}
.tg td{padding:10px 20px;border-style:solid;border-width:2px;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{padding:10px 20px;border-style:solid;border-width:2px;border-color:#aaa;color:#fff;background-color:#f38630;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-j2zy{background-color:#FCFBE3;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l">SSCID#</th>
    <th class="tg-yw4l"><%= image_tag("ssc.png") %>1</th>
    <th class="tg-yw4l">STATUS</th>
    <th class="tg-yw4l">POS(proof of smile)</th>
    <th class="tg-yw4l">OWNER</th>
  </tr>
  <tr>
    <td class="tg-j2zy">1</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Shining</td>
    <td class="tg-j2zy"><%= image_tag("jdgpos.png") %></td>
    <td class="tg-j2zy">JDG</td>
  </tr>
  <tr>
    <td class="tg-yw4l">2</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">pic of both ice cream and professional sports stadium</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-j2zy">3</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">pic of you PRETTY high up in a tree (mj bonus)</td>
    <td class="tg-j2zy"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">4</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">video of rcw smoking weed then taking a shot b4 exhaling</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-j2zy">5</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">300 word essay on a tv sitcom episode</td>
    <td class="tg-j2zy"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">6</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">video of jdg talking to a girl @ a bar</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-j2zy">7</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">post card mailed to baby mark with a sun drawn on it</td>
    <td class="tg-j2zy"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">8</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">screenshot of a NEW text conversation w runyon</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-j2zy">9</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">24 second promotional SmileySun video</td>
    <td class="tg-j2zy"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">10</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">verified paper airplane throw of more than 40ft</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-j2zy">11</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">picture of a cat on a dog taken before 2pm</td>
    <td class="tg-j2zy"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">12</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">the result of alden's /played on his main wow account</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-j2zy">13</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">fantasies football week 13 high scorer</td>
    <td class="tg-j2zy"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">14</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">picture of you and your favorite animal taken @ the zoo</td>
    <td class="tg-yw4l"></td>
  </tr>
  <tr>
    <td class="tg-yw4l">15</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">initiate the first verified SSC transaction</td>
    <td class="tg-yw4l"></td>
  </tr>
</table>
</div>
