<br><p>complete proof of smile to recieve SSC. spend SSC on all kinds of things. SSC is the future. SSC is centralized below on the SunBlockChain.</p>
<p><strong>transactions, smiling and staking done through unencrypted email to <%= mail_to "ssc@fatcatty.com" %> with evidence or any transaction details.</strong></p><br>
<div class="large-6 columns" id="sscbody" style="float:left;">
<center><%= image_tag("sunblock.png") %><center>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#aaa;margin:0px auto;}
.tg td{padding:5px 10px;border-style:solid;border-width:2px;border-color:#aaa;color:#333;background-color:#fff;border-top-width:1px;border-bottom-width:1px;}
.tg th{padding:5px 10px;border-style:solid;border-width:2px;border-color:#aaa;color:#fff;background-color:#f38630;border-top-width:1px;border-bottom-width:1px;}
.tg .tg-j2zy{background-color:#FCFBE3;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-yw4l">ID</th>
    <th class="tg-yw4l">SmileySunCoin</th>
    <th class="tg-yw4l">STATUS</th>
    <th class="tg-yw4l">POS(proof of smile)</th>
    <th class="tg-yw4l">OWNER</th>
  </tr>
  <tr>
    <td class="tg-j2zy">1</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Shining</td>
    <td class="tg-j2zy"><%= image_tag("jdgpos.png") %></td>
    <td class="tg-j2zy">JDG</td>
  </tr>
  <tr>
    <td class="tg-yw4l">2</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">pic of both ice cream and professional sports stadium</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-j2zy">3</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Shining</td>
    <td class="tg-j2zy"><%= image_tag("pos3.png") %></td>
    <td class="tg-yw4l">NW</td>
  </tr>
  <tr>
    <td class="tg-yw4l">4</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">video of rcw smoking weed then taking a shot b4 exhaling</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-j2zy">5</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Shining</td>
    <td class="tg-j2zy"><a href="../carfool">The Bernie Mac Show S2E03 "Carfool" 10/30/2002</a></td>
    <td class="tg-yw4l">Mark the Star</td>
  </tr>
  <tr>
    <td class="tg-yw4l">6</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">video of jdg talking to a girl @ a bar</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-j2zy">7</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">post card mailed to baby mark with a sun drawn on it</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-yw4l">8</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">screenshot of a NEW text conversation w runyon</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-j2zy">9</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Shining</td>
    <td class="tg-j2zy"><iframe src="https://www.youtube.com/embed/g3N5OmjK-4A?ecver=2" width="320" height="180" frameborder="0" allowfullscreen></iframe></td>
    <td class="tg-yw4l">Conpiece</td>
  </tr>
  <tr>
    <td class="tg-yw4l">10</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">verified paper airplane throw of more than 40ft</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-j2zy">11</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">picture of a cat on a dog taken before 2pm</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-yw4l">12</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">the result of alden's /played on his main wow account</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-j2zy">13</td>
    <td class="tg-j2zy"><%= image_tag("ssc.png") %></td>
    <td class="tg-j2zy">Dormant</td>
    <td class="tg-j2zy">fantasies football week 13 high scorer</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-yw4l">14</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">picture of you and your favorite animal taken @ the zoo</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
  <tr>
    <td class="tg-yw4l">15</td>
    <td class="tg-yw4l"><%= image_tag("ssc.png") %></td>
    <td class="tg-yw4l">Dormant</td>
    <td class="tg-yw4l">initiate the first verified SSC transaction</td>
    <td class="tg-yw4l"><%= mail_to "ssc@fatcatty.com", "claim :)" %></td>
  </tr>
</table><br>
</div>
<div class="large-5 columns" style="float:right;">
<h3>Transactions</h3>
<p style="font-size:12px;">
@:10/12/17 14:45 From: SunBlockChain To: JDG || Amt: 1 SSC || Note: Foundations<br>
@:10/12/17 20:47 From: SunBlockChain To: NW || Amt: 1 SSC || Note: High up in a tree<br>
@:10/13/17 10:23 From: SunBlockChain To: Conpiece || Amt: 1 SSC || Note: <%= link_to('share this video', "https://www.youtube.com/embed/g3N5OmjK-4A?ecver=2") %><br>
@:10/13/17 17:31 From: SunBlockChain To: Mark the Star || Amt: 1 SSC || Note: No courtesy honks here
</div>
