<%= div_for post do %>
    <strong><%= link_to h(post.title), post %></strong><br />
    <sup class="text-muted">from <%= time_ago_in_words(post.created_at)%> ago</sup><br />
    <div class="mb pb" id="<%= post.id %>">
      <%= h(raw post.body) %><br>
    </div>
    <div class="mb pb">
      score: <%= raw number_with_precision(post.score, :precision => 0) %>/100
    </div>
    <div class="tags">
     tags: <%=raw tag_links(post.all_tags)%>
    </div>
<% end %>
