<%= div_for post do %>
  <div class="large-12 columns border border-box glassy-bg mt pt" html="true">
    <strong><%= h(post.title) %></strong><br />
    <sup class="text-muted">from <%= time_ago_in_words(post.created_at)%> ago</sup><br />
    <div class="mb pb">
      <%= h(raw post.body) %>
    </div>
    <div class="mb pb">
      score: <%= raw number_with_precision(post.score, :precision => 0) %>/100
    </div>
    <div class="tags">
     tags: <%=raw tag_links(post.all_tags)%>
    </div>
    <br><p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
  </div>
<% end %>