<div class="navvy">
  <div class=fatcattyLogo>
  <%= link_to image_tag("logonav.png"), root_path %>
  </div>
<div class="navItems">
  <ul>
    <li class="dropdown"><a href="../" class="dropbtn"><%= image_tag("archive.png") %> blog</a>
      <div class="dropdown-content">
        <%= link_to('archive ', archives_path) %>
        <%= link_to('random post ', posts_showrandom_path) %>
      </div>
    </li>
    <li><a href="../works" class="dropbtn"><%= image_tag("gallery.png") %> works</a></li>
    <li class="dropdown"><a href="javascript:void(0)" class="dropbtn"><%= image_tag("about.png") %> more</a>
      <div class="dropdown-content">
        <a href="../golf"><%= image_tag("golf.png") %> golf </a>
        <a href="../ssc"><%= image_tag("sscico.png") %> smileysuncoin </a>
        <a href="../carfool"><%= image_tag("bullet.png") %>carfool </a>
      </div>
    </li>

    <% if admin_signed_in? %>
    <li><a href="../admins/sign_out" class="dropbtn"><%= image_tag("bullet.png") %>logout</a></li>
     <% else %>
     <li><a href="../admins/sign_in" class="dropbtn"><%= image_tag("bullet.png") %>login</a></li>
    <% end %>
  </ul>
</div>
</div>
