<div id="navvy" style="padding-bottom: 10px;">
<div style="float: left;">
  <%= link_to image_tag("logonav.png"), root_path %>
</div>
<div style="padding-top: 10px; padding-botton: 5px;">
  <%= image_tag("bullet.png") %><%= link_to('archive', archives_path) %>
  <%= image_tag("bullet.png") %><%= link_to('gallery', works_path) %>
  <%= image_tag("bullet.png") %><%= link_to('random post', posts_showrandom_path) %>
  <%= image_tag("bullet.png") %><a href="../abt">about</a>
  <% if admin_signed_in? %>
    <%= image_tag("bullet.png") %><%= link_to('logout', destroy_admin_session_path) %>
   <% else %>
    <%= image_tag("bullet.png") %><%= link_to('login', new_admin_session_path) %>
  <% end %>
</div>
<div>
  view posts tagged:
    <a href="../tags/culture">culture</a>,
    <a href="../tags/music">music</a>,
    <a href="../tags/videos">videos</a>,
    <a href="../tags/sports">sports</a>
</div>
</div>