<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "(๑ↀᆺↀ๑) fat catty (๑ↀᆺↀ๑)" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= auto_discovery_link_tag :atom, "/feeds.atom" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>

  </head>

<script type="text/javascript">$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
});</script>
  <body>
    <div class= "large-12 columns" id="body">
      <%= render "layouts/nav" %>
      <%= yield %>
    </div>
  </body>
</html>
